.Media_pics{
    display: flex;
    width:100%;
    align-items:center ;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}
.Media_pics img{
    width:25%;
    height: 300px;
    padding:5px;
}
@media screen and (max-width:952px) {
    .Media_pics{
        flex-direction: column;
    }
    .Media_pics img{
        width: 100%;
    }
}